GRIDBANK_ADDRESS=:8080
GRIDBANK_DATABASE_PATH=./gridbank.db
GRIDBANK_SHUTDOWN_TIMEOUT=10s
GRIDBANK_SESSION_TTL=12h
GRIDBANK_LEASE_TTL=90s
GRIDBANK_WORKER_POLL_INTERVAL=500ms
GRIDBANK_WORKER_RETRY_BASE=250ms
GRIDBANK_WORKER_MAX_ATTEMPTS=5
GRIDBANK_WEBHOOK_TIMEOUT=8s
GRIDBANK_DATABASE_MAX_OPEN_CONNS=8
